<!DOCTYPE html>
<html xmlns="http://www.w3.org" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${pageTitle}"></title>
<template th:replace="~{ui-component/bootstrap}"></template>
</head>

<body>
	<!-- Navigation Bar -->
	<nav th:replace="~{abstract-navbar}"></nav>
	<div th:text="${param.categoryId} == 2 ? 'ok'"></div>
	<section class="container-fluid p-3 my-2">
		<div class="row">
			<div class="col-lg-2 col-md-4">
				<form th:action="@{/jobs}" method="get">
					<div class="form-group">
						<label for="">Category: </label> <select name="category"
							class="custom-select">
							<option value="" selected>Any Category</option>
							<option th:each="cat : ${jobCategories}" th:value="${cat.id}"
								th:text="${cat.title}"
								th:attrappend="selected=${cat.id == category}?'selected'"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="">Location:</label> <select name="location"
							class="custom-select">
							<option value="" selected>Any Location</option>
							<option th:each="loc : ${locations}" th:value="${loc.id}"
								th:text="${loc.city}"
								th:attrappend="selected=${loc.id == location}?'selected'"></option>
						</select>
					</div>

					<div class="form-group">
						<input type="submit" value="Find Jobs"
							class="btn btn-block btn-primary">
					</div>
				</form>
			</div>
			<div class="col-lg-9 col-md-8" th:if="!${#lists.isEmpty(jobs.content)}">
				<div class="row text-dark">
					<a th:href="@{|/jobs/${job.id}|}" target="_blank"
						class="d-block col-lg-12 text-dark text-decoration-none m-2 p-3 border"
						th:each="job : ${jobs.content}">
						<h5 class="font-weight-bold" th:text="${job.jobTitle}"></h5>
						<h6 th:text="${job.postedBy.company.companyName}"></h6>
						<div class="row">
							<div class="col-6 col-sm-4">
								<p>
									<i class="fa fa-map-marker"></i> <span
										th:text="${job.location.city}"></span>
								</p>
							</div>
							<div class="col-6 col-sm-4">
								<p>
									<i class="fa fa-briefcase"></i> <span
										th:text="${job.experience.lowest}"></span> - <span
										th:text="${job.experience.highest}"></span> year
								</p>
							</div>
							<div class="col-sm-4">
								<p>
									<i class="fa fa-rupee"></i> <span
										th:text="${job.salary.lowest}"></span>-<span
										th:text="${job.salary.highest}"></span> Monthly
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-sm-4">
								<i class="fa fa-clock-o"></i> <span th:text="${job.postedDate}"></span>
							</div>
							<div class="col-12 col-sm-8">
								<i class="fa fa-tags"></i> <span th:text="${job.tags}"></span>
							</div>
						</div>
						<div class="row my-2"></div>
					</a>
					<div class="col-12">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:if="${!jobs.first}"><a
									class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
								<li class="page-item"
									th:each="num : ${#numbers.sequence(0,jobs.totalPages - 1)}">
									<a class="page-link"
									th:href="@{/employers/manage-job-posts(page=${num})}"
									th:text="${num + 1}"></a>
								</li>
								<li class="page-item" th:if="${!jobs.last}"><a
									class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div th:unless="!${#lists.isEmpty(jobs.content)}" class="col-lg-9 col-md-8">
				<h4 class="text-center">No Jobs To Display</h4>
				<p class="lead text-center">Try Seaching for a Different Job or Different Location</p>
			</div>
		</div>
	</section>
	<footer th:replace="~{footer}"></footer>
</body>

</html>